# My Notebook Title

## Introduction

Welcome to my Jupyter Notebook! In this notebook, I will be exploring data from the Titanic dataset and analyzing factors that contributed to passenger survival. The Titanic dataset is a classic dataset used for data analysis and visualization, and I'm excited to dive into it. 

In the next few cells, I will be loading the dataset, cleaning and pre-processing the data, and then visualizing some of the key features. So let's get started!

## Popular Data Science Languages

- Python
- R
- SQL
- Java
- Matlab
- Scala
- Julia

## Popular Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras
- PyTorch
- NLTK
- OpenCV

## Data Science Tools

| Tool | Description |
| ---- | ----------- |
| Python | A popular programming language for data science |
| R | A statistical programming language used for data analysis |
| SQL | A language used to manage and analyze relational databases |
| Tableau | A data visualization tool used for creating interactive dashboards |
| Apache Spark | A distributed computing framework used for processing large datasets |
| Jupyter Notebook | An open-source web application used for creating and sharing documents with live code, equations, visualizations, and narrative text |
| Docker | A platform for building, shipping, and running distributed applications |
| Git | A version control system used for tracking changes in code |

## Arithmetic Expressions

Arithmetic expressions are mathematical operations that involve numbers, variables, and operators. Here are some examples of arithmetic expressions:

- `3 + 4`: Addition expression that evaluates to `7`
- `5 * 6`: Multiplication expression that evaluates to `30`
- `9 - 2`: Subtraction expression that evaluates to `7`
- `12 / 4`: Division expression that evaluates to `3`
- `4 ** 3`: Exponentiation expression that evaluates to `64`

In Python, you can use arithmetic expressions to perform mathematical operations. For example, to calculate the area of a rectangle with a width of `5` units and a height of `3` units, you can use the following arithmetic expression:

In [3]:
area = 5 * 3

In [4]:
area

15

In [5]:
# Multiply two numbers
x = 5
y = 3
result_multiply = x * y
print("The result of multiplying", x, "and", y, "is", result_multiply)

# Add two numbers
a = 10
b = 7
result_add = a + b
print("The result of adding", a, "and", b, "is", result_add)

The result of multiplying 5 and 3 is 15
The result of adding 10 and 7 is 17

In [6]:
# Convert minutes to hours
minutes = 135
hours = minutes / 60
print(minutes, "minutes is equal to", hours, "hours")

135 minutes is equal to 2.25 hours

## Objectives

The objectives of this notebook are:

- To introduce arithmetic expressions in Python
- To demonstrate how to perform basic mathematical operations in Python
- To show how to convert minutes to hours using Python

### Author: GAJJI SRINATH